<div class="header">
    <a [routerLink]="['/login']">
        <img src="assets/Logo.PNG" alt="Logo" class="logo-photo">
    </a>
    <a [routerLink]="['/changeAvatar']">
        <img [src]="'data:image/png;base64,' + getAvatar()" alt="Imagen de {{ getUserName() }}" class="user-avatar">
    </a>
    <span class="user-name">{{ getUserName() }}</span>
    <span class="user-role">{{ getRolName() }}</span>
</div>


<div class="upload-container">
    <h2>CAMBIAR AVATAR</h2>
    <form (submit)="onSubmit()">
        <div class="form-group">
            <label for="fileInput" class="file-label">Selecciona un archivo:</label>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" class="file-input" />
        </div>
        <button type="submit" class="button">Subir</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>