.header {
  background: #273644;
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #273644;
  position: relative;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 15px;
  right: 80px; 
}

.user-role {
  font-size: 13px;
  color: white;
  position: absolute;
  top: 45px;
  right: 80px;
  text-transform: uppercase;
}

/* Imagen del avatar */
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 15px;
  right: 10px; 
}

.user-avatar:hover {
  transform: scale(1.1);
}

.logo-photo {
  width: 100px;
  height: 50px;
  transition: transform 0.3s ease-in-out;

}

.logo-photo:hover {
  transform: scale(1.1);
}





/* Contenedor de actividades */
.activities-container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Cada actividad */
.activity-item {
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.activity-item:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Botón de guardar cambios */
.save-button-container {
  margin-top: 20px;
  text-align: right;
}

/* Mensaje cuando no hay actividades */
.no-activities-message {
  text-align: center;
  font-size: 18px;
  color: #757575;
  margin-top: 20px;
}

/* Simbolos de check y cross */
.check-symbol::before {
  content: "✔"; /* Icono de check */
  color: #27ae60; /* Color del check */
  font-weight: bold; /* Estilo de la fuente */
  font-size: 16px; /* Tamaño del símbolo */
}

.cross-symbol::before {
  content: "X"; 
  color: #cb1717; 
  font-weight: bold; 
  font-size: 16px;
}