<div class="header">
    <a (click)="goBack()">
      <img src="assets/flecha-izquierda.png" alt="Logo" class="back-button">
    </a>
    <a [routerLink]="['/login']">
      <img src="assets/Logo-sinfondo.png" alt="Logo" class="logo-photo">
    </a>
    <a [routerLink]="['/changeAvatar']">
      <img [src]="'data:image/png;base64,' + getAvatar()" alt="Imagen de {{ getUserName() }}" class="user-avatar">
    </a>
    <span class="user-name">{{ getUserName() }}</span>
    <span class="user-role">{{ getRolName() }}</span>
  </div>

<div class="wrapper">
    <div class="body">
        <div action="">
            <h1 class="mb-4 mt-3">CREAR ACTIVIDAD</h1>
            <div class="row g-1">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" [(ngModel)]="activity.name" id="floatingName"
                        placeholder="Name">
                    <label for="floatingName">Nombre</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" [(ngModel)]="activity.description" id="floatingDescription"
                        placeholder="text">
                    <label for="floatingDescription">Descripcion</label>
                </div>
                <div class="form-floating mb-2">
                    <select class="form-control" [(ngModel)]="activity.id_subject" id="floatingType">
                        <option value="" disabled selected>Seleccione un tipo</option>
                        <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }} {{
                            subject.degree }}</option>
                    </select>
                    <label for="floatingType">Asignatura</label>
                </div>
                <div class="form-floating mb-2">
                    <select class="form-control" [(ngModel)]="activity.type" id="floatingType">
                        <option value="" disabled selected>Seleccione un tipo</option>
                        <option *ngFor="let type of activityTypes" [value]="type.id">{{ type.name }}</option>
                    </select>
                    <label for="floatingType">Tipo de Actividad</label>
                </div>

                <div class="form-floating mb-2">
                    <input type="date" class="form-control" [(ngModel)]="activity.deadline" id="floatingDueDate"
                        placeholder="Fecha Limite">
                    <label for="floatingDueDate">Fecha Limite</label>
                </div>

                <div class="upload-container">
                    <div class="form-group">
                        <label for="fileInput" class="file-label">Selecciona una imagen de la actividad si es
                            necesario:</label>
                        <input type="file" id="fileInput" (change)="onFileSelected($event)" class="file-input" />
                    </div>
                    <h1></h1>
                    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                </div>

                <div class="form-floating mb-2">
                    <input type="text" class="form-control" [(ngModel)]="activity.num_fields" id="floatingNunFields"
                        placeholder="Numero de campos">
                    <label for="floatingNunFields">Número de campos</label>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary" (click)="abrirModal()" type="button">Crear Actividad</button>
                </div>
            </div>
        </div>
    </div>
</div>