<div class="activity-container" *ngIf="activities.length > 0; else noActivities">
    <ul class="activity-list">
      <ng-container *ngFor="let activity of activities">
        <li *ngIf="activity.id == activityId" class="activity-item">
          <h2>{{ activity.name | uppercase }}</h2>
          <p>DESCRIPCIÓN: {{ activity.description }}</p>
          <p>CURSO: {{ activity.degree }}</p>
          <p>ASIGNATURA: {{ activity.subject }}</p>
          <p [ngClass]="{'deadline-warning': getTimeRemaining(activity.deadline).warning, 'deadline-normal': !getTimeRemaining(activity.deadline).warning}">
            Fecha límite: {{ getTimeRemaining(activity.deadline).text }}
          </p>
  
          <!-- Filtramos los procesos relacionados con la actividad actual -->
          <ul class="process-list">
            <ng-container *ngFor="let process of processes">
              <li *ngIf="process.id_activity === activity.id && process.id_user === id_user" class="process-item">
                <p><strong>Corrección de la actividad:</strong> {{ process.feedback }}</p>
                <p><strong>Comentario:</strong> {{ process.additionalComment }}</p>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
  
  <ng-template #noActivities>
    <p class="no-activities-message">No hay actividades disponibles.</p>
  </ng-template>
  
  <div class="form-floating mb-2 col">
    <input type="text" class="form-control" [(ngModel)]="result" id="floatingResultado" placeholder="Resultado">
    <label for="floatingResultado">Resultado</label>
  </div>
  
  <button class="btn btn-secondary" (click)="saveString()" type="button">
    Guardar Respuesta
  </button>