.body {
  background-color: #af8a8a;
}

.activity-container {
  padding: 30px;
  max-width: 900px; /* Ajusta el ancho para hacerlo más estrecho */
  margin: auto; /* Centra horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente */
}

.activity-list {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Que ocupe el ancho del contenedor */
}

.activity-item {
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 20px;
}

.btn.btn-secondary {
  font-size: 20px; /* Tamaño de la fuente */
  margin-left: auto; /* Mueve el botón hacia la derecha */
  margin-right: 100px;
}

.activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.activity-header h2 {
  margin: 0;
  font-size: 24px;
}

.activity-header .subject {
  font-size: 18px;
  font-weight: bold;
}

.activity-body {
  margin-bottom: 20px;
}

.activity-body p {
  margin: 5px 0;
}

.activity-footer {
  display: flex;
  flex-direction: column;
}

.process-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.process-item {
  margin-bottom: 10px;
}

.result-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.result-container .form-floating {
  flex-grow: 1;
  margin-right: 10px;
}


.deadline-warning {
  color: #D32F2F;
  font-weight: bold;
}

.deadline-normal {
  color: #388E3C;
}

.no-activities-message {
  text-align: center;
  font-size: 18px;
  color: #757575;
  margin-top: 20px;
}






.header {
  background: #273644;
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #273644;
  position: relative;
  justify-content: center; /* Centra horizontalmente los elementos */
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 15px;
  right: 80px; 
}

.user-role {
  font-size: 13px;
  color: white;
  position: absolute;
  top: 45px;
  right: 80px;
  text-transform: uppercase;
}

/* Imagen del avatar */
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 15px;
  right: 10px; 
}

.user-avatar:hover {
  transform: scale(1.1);
}

.logo-photo {
  width: 100px;
  height: 50px;
  transition: transform 0.3s ease-in-out;

}

.logo-photo:hover {
  transform: scale(1.1);
}

.back-button {
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
  position: absolute; /* Posiciona el botón de forma absoluta */
  top: 15px; /* Ajusta la posición vertical */
  left: 15px; /* Ajusta la posición horizontal */
}

.back-button:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.star-feedback {
  font-size: 48px; /* Grande */
  text-align: center;
  margin-bottom: 20px;
}

.filled-star {
  color: gold;
}

.empty-star {
  color: lightgray;
}
