<div class="header">
  <button class="back-button" (click)="goBack()">
    &#8592; <!-- Flecha hacia la izquierda -->
  </button>
  <a [routerLink]="['/login']">
    <img src="assets/Logo.PNG" alt="Logo" class="logo-photo">
  </a>
  <a [routerLink]="['/changeAvatar']">
    <img [src]="'data:image/png;base64,' + getAvatar()" alt="Imagen de {{ getUserName() }}" class="user-avatar">
  </a>
  <span class="user-name">{{ getUserName() }}</span>
  <span class="user-role">{{ getRolName() }}</span>
</div>                  




<div class="activity-container" *ngIf="activities.length > 0; else noActivities">
  <ul class="activity-list">
    <ng-container *ngFor="let activity of activities">
      <li *ngIf="activity.id == activityId" class="activity-item">
        <div class="activity-header">
          <h2>{{ activity.name | uppercase }} - {{ activity.description }}</h2>
          <p class="subject" [ngStyle]="{'color': getSubjectColor(activity.id_subject)}">{{
            subjects[activity.id_subject]?.name }}</p>
        </div>
        <img *ngIf="activity.photo" [src]="'data:image/png;base64,' + activity.photo"
          alt="Imagen de {{ activity.name }}" class="activity-photo">

        <div class="activity-body">
          <p><strong>Curso:</strong> {{ subjects[activity.id_subject - 1]?.degree }}</p> 
          <p
            [ngClass]="{'deadline-warning': getTimeRemaining(activity.deadline, activity.id).warning, 'deadline-normal': !getTimeRemaining(activity.deadline, activity.id).warning}">
            {{ getTimeRemaining(activity.deadline, activity.id).text }}
          </p>
        </div>
        <div class="activity-footer">
          <ul class="process-list">
            <ng-container *ngFor="let process of processes">
              <li *ngIf="process.id_activity === activity.id && process.id_user === id_user" class="process-item">
                <p><strong>Corrección de la actividad:</strong> {{ process.feedback }}</p>
                <p><strong>Comentario:</strong> {{ process.additionalComment }}</p>
                <p><strong>Tu respuesta:</strong> {{ process.result }}</p>
              </li>
            </ng-container>
          </ul>

          <div class="result-container">
            <div class="scrollable-results">
              <ng-container *ngFor="let i of [].constructor(activity.num_fields); let index = index">
                <div class="form-floating mb-2 col">
                  <input type="text" class="form-control" [(ngModel)]="result[index]" id="floatingResultado{{index}}"
                    placeholder="Resultado" [disabled]="getTimeRemaining(activity.deadline, activity.id).expired">
                  <label for="floatingResultado{{index}}">Resultado {{ getLetterFromIndex(index) }}</label>
                </div>
              </ng-container>
            </div>


            <button class="btn btn-secondary" (click)="saveString()" type="button"
              [disabled]="getTimeRemaining(activity.deadline, activity.id).expired">
              Guardar Respuesta
            </button>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</div>

<ng-template #noActivities>
  <p class="no-activities-message">No hay actividades disponibles.</p>
</ng-template>