<div class="header">
  <div class="role-container">
    <ng-container *ngFor="let user of users">
      <span *ngIf="user.id === id_user" class="user-role">Rol: {{ getRolName(user.rol_id) }}</span>
    </ng-container>
  </div>
  <div class="avatar-container">
    <ng-container *ngFor="let user of users">
      <li *ngIf="user.id === id_user">
        <span class="user-name">{{ user.name }} {{ user.lastname }}</span>
        <a [routerLink]="['/changeAvatar']">
          <img [src]="'data:image/png;base64,' + user.avatar" alt="Imagen de {{ user.email }}" class="user-avatar">
        </a>
      </li>
    </ng-container>
  </div>
</div>

<div class="users-container">
  <ng-container *ngFor="let activity of activities">
    <div *ngIf="activity.id == activityId" class="activity-item">
      <h2>{{ activity.name | uppercase }}</h2>
      <p>{{ activity.description }}</p>
      <img *ngIf="activity.photo" [src]="'data:image/png;base64,' + activity.photo" alt="Imagen de {{ activity.name }}" class="activity-photo">
    </div>
  </ng-container>
  <ng-container *ngFor="let user of users">
    <div *ngIf="user.rol_id == 0" class="user-item">
      <p>USUARIO : {{ user.name }} {{ user.lastname }} --- {{ user.email }}</p>
      <div class="processes-container">
        <ng-container *ngFor="let process of processes">
          <div *ngIf="process.id_user === user.id && +process.id_activity === +activityId" class="process-item">
            <p>Resultado de la actividad: {{ process.result }}</p>
            <mat-radio-group [(ngModel)]="process.selectedOption">
              <mat-radio-button value="Bien" class="radio-with-check" style="margin-left: 50px;">
                <span class="check-symbol"></span>
              </mat-radio-button>
              <mat-radio-button value="Mal" class="radio-with-check" style="margin-left: 20px;">
                <span class="cross-symbol"></span>
              </mat-radio-button>
            </mat-radio-group>
            
            <div class="text-container">
              <label for="textInput">Comentario adicional:</label>
              <input type="text" id="textInput" name="textInput" placeholder="Escribe aquí..." class="text-left" [(ngModel)]="process.additionalComment">
            </div>

            <div class="save-button-container">
              <button mat-raised-button color="primary"
                (click)="saveChanges(process.selectedOption, process.id_user, process.id_activity, process.additionalComment)">Guardar Cambios</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>