/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  padding-top: 80px; /* Ajusta este valor según la altura del header */
}

.header {
  position: fixed;
  top: 0;  /* Se fijará 10px desde la parte superior */
  margin-bottom: 20px; /* Ajusta según sea necesario */
 
  left: 0; /* Asegura que esté alineado al borde izquierdo */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  background: #273644;
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #273644;
  position: relative;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 15px;
  right: 80px; 
}

.user-role {
  font-size: 13px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 45px;
  right: 80px;
  text-transform: uppercase;
}

/* Imagen del avatar */
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 15px;
  right: 10px; 
}

.user-avatar:hover {
  transform: scale(1.1);
}

.logo-photo {
  width: 100px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.logo-photo:hover {
  transform: scale(1.1);
}

.activity-photo {
  max-width: 400px;
  max-height: 300px;
}

/* Contenedor de actividades */
.activities-container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
}

/* Cada actividad */
.activity-item {
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Asegúrate de que esté bien posicionado */
  z-index: 1; /* Asegura que esté encima del fondo */
  background: white;
  width: 500px;
  text-align: center; /* Centra el texto dentro de los elementos */
  max-width: 800px;
  margin: 40px auto;
}

/* Contenedor de usuarios */
.users-container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Asegúrate de que esté bien posicionado */
  z-index: 1; /* Asegura que esté encima del fondo */
}


/* Cada usuario */
.user-item {
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.user-item:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Contenedor de procesos */
.processes-container {
  margin-left: 20px;
  padding-left: 15px;
  border-left: 3px solid #8e44ad; /* Color distintivo */
}

/* Cada proceso */
.process-item {
  background-color: #fdfefe;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #34495e;
  font-weight: normal;
}

/* Simbolos de check y cross */
.check-symbol::before {
  content: "✔"; /* Icono de check */
  color: #27ae60; /* Color del check */
  font-weight: bold; /* Estilo de la fuente */
  font-size: 16px; /* Tamaño del símbolo */
}

.cross-symbol::before {
  content: "X"; 
  color: #cb1717; 
  font-weight: bold; 
  font-size: 16px;
}

.feedback-status {
  font-weight: bold;
  text-align: right;
  display: block; /* Asegura que el texto ocupe toda la línea */
}

.text-container {
  margin-top: 10px;
}

.save-button-container {
  margin-top: 10px;
}

.fondo-image {
  position: fixed; /* Fija la imagen al fondo */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  height: 100%; /* Ocupa todo el alto */
  object-fit: cover; /* Asegúrate de que la imagen cubra todo el fondo */
  opacity: 0.4; /* Opcional: ajusta la opacidad para un efecto más suave */
}

.card-body {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra horizontalmente los elementos */
  text-align: center; /* Centra el texto */
  padding: 20px;
}

