<div class="header">
  <button class="back-button" (click)="goBack()">
    &#8592; <!-- Flecha hacia la izquierda -->
  </button>
  <a [routerLink]="['/login']">
    <img src="assets/Logo-sinfondo.png" alt="Logo" class="logo-photo">
  </a>
  <a [routerLink]="['/changeAvatar']">
    <img [src]="'data:image/png;base64,' + getAvatar()" alt="Imagen de {{ getUserName() }}" class="user-avatar">
  </a>
  <span class="user-name">{{ getUserName() }}</span>
  <span class="user-role">{{ getRolName() }}</span>
</div>


<div class="background-image">
  <img src="assets/camino6.jpeg" alt="Logo" width="1000px" height="1000px">
</div>

<div *ngIf="activities.length > 0; else noActivities">

  <div class="pending-activities">
    <h3>Actividades Pendientes</h3>
    <ul class="activity-pending-list">
      <ng-container *ngFor="let activity of activities">
        <li *ngIf="getFeedbackStatus(activity.id) === 'Esperando resultado' && activity.available === 1">
          <a [routerLink]="['/activityAlumno', activity.id]" class="activity-link">
            <u>{{ activity.name }}</u> - <span class="deadline">({{ getTimeRemaining(activity.deadline).text }})</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="legend">
    <h3>Leyenda</h3>
    <ul class="legend-list">
      <ng-container *ngFor="let subject of getUniqueSubjects()">
        <li class="legend-item">
          <img [src]="getSubjectImage(subject.id)" alt="{{ subject.name }}" class="subject-photo">
          <span class="subject-name">{{ subject.name }}</span>
        </li>
      </ng-container>
    </ul>
  </div>

  


  <ul class="activity-list">
    <ng-container *ngFor="let activity of activities">
      <li *ngIf="activity.available === 1; else notAvailable" class="activity-item" [ngClass]="{
        'feedback-good': getFeedbackStatus(activity.id) === 'Bien', 
        'feedback-bad': getFeedbackStatus(activity.id) === 'Mal', 
        'feedback-waiting': getFeedbackStatus(activity.id) === 'Esperando corrección',
        'result-waiting': getFeedbackStatus(activity.id) === 'Esperando resultado'
      }"
        [ngStyle]="{'background-color': getSubjectColor(activity.id_subject), 'position': 'absolute','left': getActivityCoordinates(activity.id).x + '%','top': getActivityCoordinates(activity.id).y + '%','transform': 'translate(-50%, -50%)'}">
        <a [routerLink]="['/activityAlumno', activity.id]" class="activity-link">
          <img [src]="getSubjectImage(activity.id_subject)" alt="Logo" class="subject-photo">

          <span class="hover-text">{{ getFeedbackStatus(activity.id) }}</span>

        </a>
      </li>
      <ng-template #notAvailable>
        <li class="activity-item-not-available" [ngStyle]="{
              'background-color': 'gray',
              'position': 'absolute', 
              'left': getActivityCoordinates(activity.id).x + '%',
              'top': getActivityCoordinates(activity.id).y + '%',
              'transform': 'translate(-50%, -50%)'
            }">
          <a> {{activity.name | uppercase}}</a>
        </li>
      </ng-template>
    </ng-container>
  </ul>
</div>

<ng-template #noActivities>
  <p class="no-activities-message">No hay actividades disponibles.</p>
</ng-template>