/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.header {
  background: #273644;
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #273644;
  position: relative;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 15px;
  right: 70px; 
}

.user-role {
  font-size: 13px;
  color: white;
  position: absolute;
  top: 45px;
  right: 80px;
  text-transform: uppercase;
}

/* Imagen del avatar */
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 15px;
  right: 10px; 
}

.user-avatar:hover {
  transform: scale(1.1);
}

.logo-photo {
  width: 100px;
  height: 50px;
  transition: transform 0.3s ease-in-out;

}

.logo-photo:hover {
  transform: scale(1.1);
}










/* Contenedor de usuarios */
.users-container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Cada usuario */
.users-container li {
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

/* Último elemento sin borde */
.users-container li:last-child {
  border-bottom: none;
}

/* Estilos para el rol */
.users-container div {
  font-size: 14px;
  color: #666;
}

/* Contenedor de botones */
.save-button-container {
  margin-top: 15px;
}

/* Botón de guardar cambios */
button {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background: #43A047;
  color: white;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #388E3C;
}

/* Mensaje cuando no hay usuarios */
.no-users-message {
  text-align: center;
  font-size: 18px;
  color: #757575;
  margin-top: 20px;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  margin-right: 13px; /* Añade un margen derecho al avatar */
  color: white;
}